<mat-card class="mat-card-header">
  Quick View
</mat-card>
<mat-grid-list cols="3" rowHeight="2:1" gutterSize="10px">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>

        New Case Summary
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Low Priority</h3><span>1</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Normal Priority</h3><span>1</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Critical Priority</h3><span>1</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>

        Case w/  Missing Information Summary
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>info</mat-icon>
            <h3 mat-line>Low Priority</h3><span>3</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>info</mat-icon>
            <h3 mat-line>Normal Priority</h3><span>1</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Critical Priority</h3><span>1</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
      Benifit Verifications Summary
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Low Priority</h3><span>3</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Normal Priority</h3><span>1</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Critical Priority</h3><span>1</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
        New Case
        <span><mat-icon>search</mat-icon><mat-icon>settings</mat-icon><mat-icon>close</mat-icon></span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Case 491</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Order 490</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>autorenew</mat-icon>
            <h3 mat-line>Order 490</h3><span>Last 24 hour</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
         Case with  Missing Information
         <span><mat-icon>search</mat-icon><mat-icon>settings</mat-icon><mat-icon>close</mat-icon></span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 290</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 290</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 290</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 290</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 290</h3><span>Last 24 hour</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>
         Benifit Verifications
         <span><mat-icon>search</mat-icon><mat-icon>settings</mat-icon><mat-icon>close</mat-icon></span>
      </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon class="high" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Case 401</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="med" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Case 401</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>av_timer</mat-icon>
            <h3 mat-line>Case 401</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 401</h3><span>Last 24 hour</span>
          </mat-list-item>
          <mat-list-item>
            <mat-icon class="low" mat-list-icon>info</mat-icon>
            <h3 mat-line>Case 401</h3><span>Last 24 hour</span>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>