<mat-card class="mat-card-header">
  Patient List
</mat-card>
<mat-card class="mat-card-body">
  <mat-card-title>
    <button mat-raised-button class="button" (click)="routeToAddPatient()">Add New Patient</button>
    <button mat-raised-button class="button" (click)="exportFile()">Export</button>
  </mat-card-title>
  <mat-card-content>
    <!-- class that can be added in table class for strips and howering:  table-striped table-no-bordered table-hover -->
    <!-- <ng-template [ngIf]="!patientListLoaded" [ngIfElse]="tableview"><mat-spinner class="spinner"></mat-spinner></ng-template>
    <ng-template #tableview> -->
    <table datatable [dtTrigger] = "dtTriggers" [dtOptions]="dtOption" class="table table-hover">
      <thead>
        <tr>
          <th class="search-header-text">Search Patient</th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchId" type="text" placeholder="Search ID" name="search-id" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchFname" type="text" placeholder="Search First Name" name="search-fname" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchLname" type="text" placeholder="Search Last Name" name="search-lname" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchDOB" type="text" placeholder="Search DOB" name="search-dob" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchEmail" type="text" placeholder="Search Email" name="search-email" />
            </mat-form-field>
          </th>
          <th>
            <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="searchPhone" type="text" placeholder="Search Phone" name="search-phone" />
            </mat-form-field>
          </th>
         </tr>
        <tr>
          <th></th>
          <th>Patient ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>DOB</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody *ngIf="patients?.length != 0">
        <tr *ngFor="let patient of (patients | grdFilter: { firstName: searchFname, lastName: searchLname, dateOfBirth: searchDOB, email: searchEmail});index as i;trackBy: trackByFn">
          <td>
            <button mat-raised-button class="table-button" (click) = "routeToEdit(patient.id)">Edit</button>
          </td>
          <td>{{patient.id}}</td>
          <td>{{patient.firstName}}</td>
          <td>{{patient.lastName}}</td>
          <td>{{patient.dateOfBirth | date : shortDate}}</td>
          <td>{{patient.email}}</td>
          <td>{{patient.phoneNumber}}</td>
        </tr>
      </tbody>
    </table>
  <!-- </ng-template> -->
  </mat-card-content>
</mat-card>