.container{
    background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.tenant_name_h3{
  font-size:40px;color: antiquewhite;background-color: rgb(5, 1, 15);padding-bottom: 20px;padding-top: 20px
}

.tenant_name_b{
  margin-left:50px;margin-top:30px;margin-bottom:0px;font-size:40px;
}
